<!DOCTYPE html>
<!--
Author: Moussa Fofana
Product Name: Le Passage Lumière
Website: https://www.moussa-fofana.site
Email: hello@moussa-fofana.com
Contact: +225 07 471 612 21
-->
<html
	lang="fr">
	<!--begin::Head-->
	<head>
		<title>Réinitialiser votre mot de passe | Espace Admin</title>
		<meta charset="utf-8"/>
        <meta name="author" content="EMF Technologies : Moussa Fofana" />
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
        <link rel="shortcut icon" href="{{asset('assets/media/logos/favicon.ico')}}"/>

		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
		<!--end::Fonts-->

		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="{{asset('assets/plugins/global/plugins.bundle.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('assets/css/style.bundle.css')}}" rel="stylesheet" type="text/css"/>
		<!--end::Global Stylesheets Bundle-->

	</head>
	<!--end::Head-->

	<!--begin::Body-->
	<body
		id="kt_body" class="auth-bg bgi-size-cover bgi-attachment-fixed bgi-position-center">
		<!--begin::Theme mode setup on page load-->
		<script>
			var defaultThemeMode = "light";
            var themeMode;

            if (document.documentElement) {
                if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                    themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
                } else {
                    if (localStorage.getItem("data-bs-theme") !== null) {
                        themeMode = localStorage.getItem("data-bs-theme");
                    } else {
                        themeMode = defaultThemeMode;
                    }
                }

                if (themeMode === "system") {
                    themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
                }

                document.documentElement.setAttribute("data-bs-theme", themeMode);
            }
		</script>
		<!--end::Theme mode setup on page load-->

		<!--begin::Main-->
		<!--begin::Root-->
		<div
			class="d-flex flex-column flex-root"> <!--begin::Page bg image-->
			<style>
				body {
					background-image: url("{{asset('assets/media/auth/bg10.jpeg')}}");
				}

				[data-bs-theme="dark"] body {
					background-image: url("{{asset('assets/media/auth/bg10-dark.jpeg')}}");
				}
			</style>
			<!--end::Page bg image-->

			<!--begin::Authentication - New password -->
			<div
				class="d-flex flex-column flex-lg-row flex-column-fluid">
				<!--begin::Aside-->
				<div
					class="d-flex flex-lg-row-fluid">
					<!--begin::Content-->
					<div
						class="d-flex flex-column flex-center pb-0 pb-lg-10 p-10 w-100">
						<!--begin::Image-->
						<img class="theme-light-show mx-auto mw-100 w-150px w-lg-300px mb-10 mb-lg-20" src="{{asset('assets/media/auth/agency.png')}}" alt=""/>
						<img class="theme-dark-show mx-auto mw-100 w-150px w-lg-300px mb-10 mb-lg-20" src="{{asset('assets/media/auth/agency-dark.png')}}" alt=""/>
						<!--end::Image-->

						<!--begin::Title-->
							<h1 class="text-gray-800 fs-2qx fw-bold text-center mb-7"> Rapide, efficace et productif
						</h1>
						<!--end::Title-->

						<!--begin::Text-->
						<div class="text-gray-600 fs-base text-center fw-semibold">
							In this kind of post,
							<a href="#" class="opacity-75-hover text-primary me-1">the blogger</a>

							introduces a person they’ve interviewed
							<br/>
							and provides some background information about

							<a href="#" class="opacity-75-hover text-primary me-1">the interviewee</a>
							and their
							<br/>
							work following this is a transcript of the interview.
						</div>
						<!--end::Text-->
					</div>
					<!--end::Content-->
				</div>
				<!--begin::Aside-->

				<!--begin::Body-->
				<div
					class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12">
					<!--begin::Wrapper-->
					<div
						class="bg-body d-flex flex-column flex-center rounded-4 w-md-600px p-10">
						<!--begin::Content-->
						<div
							class="d-flex flex-center flex-column align-items-stretch h-lg-100 w-md-400px">
							<!--begin::Wrapper-->
							<div
								class="d-flex flex-center flex-column flex-column-fluid pb-15 pb-lg-20">

								<!--begin::Form-->
                                {{ form_start(resetForm, {'attr': {'id': 'kt_new_password_form', 'class': 'form w-100', 'novalidate': 'novalidate', 'data-kt-redirect-url': ''}}) }}
									<!--begin::Heading-->
									<div
										class="text-center mb-10">
										<!--begin::Title-->
										<h1 class="text-gray-900 fw-bolder mb-3">
                                            Nouveau mot de passe
										</h1>
										<!--end::Title-->

										<!--begin::Link-->
										<div class="text-gray-500 fw-semibold fs-6">
                                            Avez-vous déjà réinitialisé le mot de passe ?

											<a href="{{path('login')}}" class="link-primary fw-bold">
												Connectez-vous
											</a>
										</div>
										<!--end::Link-->
									</div>
									<!--begin::Heading-->

                                    {% if form_errors(resetForm.plainPassword.first) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(resetForm.plainPassword.first) }}
                                        </div>
                                    {% endif %}

									<!--begin::Input group-->
									<div
										class="fv-row mb-8" data-kt-password-meter="true">
										<!--begin::Wrapper-->
										<div
											class="mb-1">
											<!--begin::Input wrapper-->
											<div class="position-relative mb-3">
                                                {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control bg-transparent', 'placeholder': 'Nouveau mot de passe', 'autocomplete': 'off'}}) }}

												<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
													<i class="ki-duotone ki-eye-slash fs-2"></i>
													<i class="ki-duotone ki-eye fs-2 d-none"></i>
												</span>
											</div>
											<!--end::Input wrapper-->

											<!--begin::Meter-->
											<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
												<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
												<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
												<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
												<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
											</div>
											<!--end::Meter-->
										</div>
										<!--end::Wrapper-->

										<!--begin::Hint-->
										<div class="text-muted">
                                            Utilisez 8 caractères ou plus avec un mélange de lettres, de chiffres et de symboles.
										</div>
										<!--end::Hint-->
									</div>
									<!--end::Input group-->

									<!--end::Input group-->
									<div
										class="fv-row mb-8">
										<!--begin::Repeat Password-->
                                        {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control bg-transparent', 'placeholder': 'Confirmer le mot de passe', 'autocomplete': 'off'}}) }}
									<!--end::Repeat Password-->
									</div>
									<!--end::Input group-->

									<!--begin::Action-->
									<div class="d-grid mb-10">
										<button
											type="button" id="kt_new_password_submit" class="btn btn-primary">

											<!--begin::Indicator label-->
											<span class="indicator-label">
												Soumettre</span>
											<!--end::Indicator label-->

											<!--begin::Indicator progress-->
											<span class="indicator-progress">
												Veuillez patienter...
												<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
											</span>
											<!--end::Indicator progress-->
										</button>
									</div>
									<!--end::Action-->
                                {{ form_end(resetForm) }}
								<!--end::Form-->
							</div>
							<!--end::Wrapper-->

							<!--begin::Footer-->
							<div
								class="w-lg-500px d-flex flex-stack">
								<!--begin::Languages-->
								<div
									class="me-10">
									<!--begin::Toggle-->
									<button class="btn btn-flex btn-link btn-color-gray-700 btn-active-color-primary rotate fs-base" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-offset="0px, 0px">
										<img data-kt-element="current-lang-flag" class="w-20px h-20px rounded me-3" src="{{asset('assets/media/flags/france.svg')}}" alt=""/>

										<span data-kt-element="current-lang-name" class="me-1">Français</span>

										<i class="ki-duotone ki-down fs-5 text-muted rotate-180 m-0"></i>
									</button>
									<!--end::Toggle-->
								</div>
								<!--end::Languages-->

								<!--begin::Links-->
								<div class="d-flex fw-semibold text-primary fs-base gap-5">
									<a href="https://moussa-fofana.com/" target="_blank">EMF Technologies</a>

									<a href="https://moussa-fofana.com/" target="_blank">Services</a>

									<a href="https://moussa-fofana.com/#contact" target="_blank">Contact</a>
								</div>
								<!--end::Links-->
							</div>
							<!--end::Footer-->
						</div>
						<!--end::Content-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Body-->
			</div>
			<!--end::Authentication - New password-->
		</div>
		<!--end::Root-->
		<!--end::Main-->


		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
        <script src="{{asset('assets/plugins/global/plugins.bundle.js')}}"> </script>
		<script src="{{asset('assets/js/scripts.bundle.js')}}"></script>
		<!--end::Global Javascript Bundle-->


		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{{asset('assets/js/custom/authentication/reset-password/new-password.js')}}"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>