<section id="collections" class="shopify-section section section-featured-collection">
	<link href="{{asset('assets/css/section-instagram-gallery.css')}}" rel="stylesheet" type="text/css" media="all"/>
	<style data-shopify>
		.section-template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5-padding {
			padding-top: 58px;
			padding-bottom: 44px;
		}

		.collection .grouped-content .deal-banner.deal--template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5::after {
			content: '';
			width: 100%;
			height: 100%;
			z-index: -1;

			background-image: url('{{asset("assets/media/bg/specialOffert.png")}}');

			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			border-radius: 20px;
		}

		.collection .product-grid:not(.slider) .card-wrapper.placeholder .card {
			display: block;
		}
		.collection .product-grid:not(.slider) .card-wrapper.placeholder .card__media,
		.collection .product-grid:not(.slider) .card-wrapper.placeholder .card .media {
			position: relative;
		}
		.collection .product-grid:not(.slider) .card-wrapper.placeholder .media > *:not(.zoom):not(.deferred-media__poster-button) {
			position: relative;
			border-radius: 20px;
			border: 1px dashed var(--gradient-base-accent-2);
			transition: all 0.3s linear;
		}

		.deal-banner-product-tab .placeholder .card__inner {
			height: auto;
		}
		.placeholder .card__inner:not(.ratio) > .card__content {
			display: none;
		}
		.card-wrapper.placeholder {
			background: transparent;
		}

		.card-wrapper.placeholder .card__information .card__heading a {
			font-size: calc(var(--font-heading-scale) * 2.2rem);
		}

		@media screen and (max-width: 480px) {
			.section-template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5-padding {
				padding-top: 8px;
				padding-bottom: 22px;
			}
		}
		@media screen and (min-width: 1201px) {
			.section-template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5-padding {
				padding-top: 32px;
				padding-bottom: 88px;
			}
		}
		@media screen and (min-width:1200px) and (max-width: 1439px) {
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li {
				min-width: 80px;
			}
		}
		@media screen and (min-width: 1440px) {
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li {
				min-width: 100px;
			}
		}
		.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li span {
			color: var(--gradient-base-accent-1) !important;
			font-weight: 500;
		}
		/* .collection .swiper-pagination-progressbar.swiper-pagination-horizontal{bottom: -40px; top:unset;max-width: 1540px;margin: auto;left: 50%;transform: translateX(-50%);width: 100%;height: 3px;background: rgba(225, 225, 255, 0.1);}
		.collection featured-swiper-slider{position: relative;}
		.collection .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{top: 0;height: 3px;background: rgba(var(--color-foreground),1);} */

		.collection featured-swiper-slider .swiper-pagination {
			width: 100%;
			margin: 34px auto auto;
			height: 10px;
			background: rgba(var(--color-base-background-2));
			opacity: 1 !important;
			border-radius: 10px;
		}
		.collection featured-swiper-slider .swiper-scrollbar-drag {
			background: rgba(var(--color-base-outline-button-labels));
			height: 10px;
			border-radius: 10px;
			display: block;
		}

		@media screen and (max-width: 576px) {
			.collection featured-swiper-slider .swiper-pagination {
				margin-top: 20px;
				height: 6px;
			}
			.collection featured-swiper-slider .swiper-scrollbar-drag {
				height: 6px;
			}
		}

		.collection .grouped-content {
			display: flex;
			justify-content: space-between;
			gap: 40px;
		}
		.collection .grouped-content .deal-banner {
			width: 50%;
			position: relative;
		}
		.collection .grouped-content .grouped-content-wrapper {
			width: 50%;
		}


		.collection .grouped-content .deal-banner .deal-banner__heading {
			margin: 0;
		}
		.collection .grouped-content .deal-banner .deal-banner-wrapper > * {
			text-align: center;
			color: var(--gradient-base-accent-1);
		}
		.collection .grouped-content .deal-banner .deal-banner-wrapper .shop-now {
			padding-top: 14px;
		}
		.collection .grouped-content .deal-banner .deal-banner-wrapper {
			padding: 40px 90px;
		}
		.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;
		}
		.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter {
			margin-top: 30px;
		}
		.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li {
			display: block;
			font-size: 30px;
			line-height: normal;
		}
		.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li span {
			display: block;
			font-size: 16px;
			font-family: var(--font-body-family);
		}

		.collection .title-wrapper--self-padded-mobile a.button.button--primary {
			display: none;
		}

		/* custom css */

		.deal-banner-product-tab .card__inner {
			height: 100%;
		}
		.collection.deal-banner-product-tab .grouped-content .deal-banner .deal-banner__heading {
			font-size: 4.2rem;
			text-transform: capitalize;
			font-weight: 500;
			letter-spacing: 0;
		}
		.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li span {
			color: var(--gradient-base-accent-1);
		}
		.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter {
			margin-top: 30px;
		}
		.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li {
			font-size: 80px;
			font-weight: 400;
			text-transform: uppercase;
			font-family: var(--font-heading-family);
			position: relative;
			line-height: 80px;
		}
		.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li span {
			display: block;
			text-transform: capitalize;
			color: rgba(var(--color-base-background-2), 0.6);
			line-height: normal;
			margin-top: 20px;
		}
		.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li:not(:last-child)::after {
			content: '';
			width: 1px;
			height: 55px;
			right: -42px;
			background: currentcolor;
			display: block;
			position: absolute;
			top: 15px;
		}
		.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul {
			gap: 60px;
		}
		.deal-banner-product-tab.collection .grouped-content-wrapper .product-grid.contains-card {
			row-gap: 40px;
		}

		.deal-banner-product-tab.collection .grouped-content .deal-banner {
			width: 48%;
			position: relative;
		}
		.deal-banner-product-tab.collection .grouped-content .grouped-content-wrapper {
			width: 52%;
		}
		@media screen and (max-width: 1540px) {
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li {
				font-size: 60px;
				line-height: 60px;
			}
			.collection .grouped-content .deal-banner .deal-banner-wrapper {
				padding: 50px 22px;
			}
			.collection.deal-banner-product-tab .grouped-content .deal-banner .deal-banner__heading {
				font-size: 50px;
			}
			.collection .grouped-content {
				gap: 40px;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul {
				gap: 40px;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li:not(:last-child)::after {
				right: -20px;
				height: 40px;
			}
		}

		@media screen and (max-width: 1439px) {
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter {
				margin-top: 13px;
			}
		}
		@media screen and (max-width: 1199px) {
			#shopify-section-template--17275202797800__5baaa214-dc36-48c8-b807-dd5124b345c5 .color-background-1 .page-width {
				max-width: 100%;
			}
		}
		@media screen and (max-width: 991px) {
			.collection .grouped-content {
				flex-direction: column;
			}
			.collection .grouped-content .deal-banner {
				width: 100%;
			}
			.collection .grouped-content .grouped-content-wrapper {
				width: 100%;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner {
				width: 100%;
			}
			.deal-banner-product-tab.collection .grouped-content .grouped-content-wrapper {
				width: 100%;
			}
			.deal-banner-product-tab.collection .grouped-content-wrapper .product-grid.contains-card {
				row-gap: var(--grid-desktop-vertical-spacing);
			}
			.deal-banner-product-tab .row .grouped-content .grouped-content-wrapper .slider-mobile-gutter .product-grid .grid__item {
				width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
				max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
			}
			.collection .grouped-content .deal-banner.deal--template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5::after {
				background-position: center;
			}
		}

		@media screen and (max-width: 576px) {
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul {
				gap: 30px;
			}

			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li {
				font-size: 40px;
				line-height: normal;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li span {
				margin: 0;
			}
			.collection .grouped-content .deal-banner .deal-banner-wrapper {
				padding: 30px;
			}
			.collection.deal-banner-product-tab .grouped-content .deal-banner .deal-banner__heading {
				font-size: 30px;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter {
				margin-top: 30px;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner {
				background-color: rgb(255, 255, 255 , 0.5);
				border-radius: 20px;
			}
		}
		@media screen and (max-width: 450px) {
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li {
				font-size: 30px;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul {
				gap: 20px;
			}
			.deal-banner-product-tab.collection .grouped-content .deal-banner .deal-banner-wrapper .deals-counter .deal-clock ul li:not(:last-child)::after {
				display: none;
			}

		}
		@media screen and (max-width: 1199px) {
			.deal-banner-product-tab.collection .grouped-content .deal-banner {
				background-color: rgb(255, 255, 255 , 0.5);
				border-radius: 20px;
			}
		}
		@media screen and (min-width:990px) and (max-width: 1199px) {
			.section-featured-collection .grid--3-col-desktop .grid__item {
				width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
				max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
			}
		}
		/* .deal-banner-product-tab .row .grouped-content .grouped-content-wrapper featured-swiper-slider .swiper .swiper-wrapper{display:flex;flex-wrap: wrap;gap:20px;}
		.deal-banner-product-tab .row .grouped-content .grouped-content-wrapper featured-swiper-slider .swiper .swiper-wrapper .swiper-slide {flex-basis: 240px;} */
	</style>
	
	<style data-shopify>
		.section-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b-padding {
			padding-top: 6px;
			padding-bottom: 26px;
		}
		@media screen and(max-width: 480px) {
			.section-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b-padding {
				padding-top: 3px;
				padding-bottom: 13px;
			}
		}
		@media screen and(min-width: 1201px) {
			.section-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b-padding {
				padding-top: 12px;
				padding-bottom: 52px;
			}
		}
		.insta-gallery {
			position: relative;
		}
		.insta-gallery:before {
			content: "";
			background-image: url('//toytime-theme.myshopify.com/cdn/shopifycloud/shopify/assets/no-image-100-c91dd4bdb56513f2cbf4fc15436ca35e9d4ecd014546c8d421b1aece861dfecf_small.gif');
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.insta-gallery.section-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b .insta-gallery-section.overlay .insta-gallery-wrapper {
			height: 290px;
		}
		@media screen and(max-width: 1540px) {
			.insta-gallery.section-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b .insta-gallery-section.overlay .insta-gallery-wrapper {
				height: 290px;
			}
		}
		@media screen and(max-width: 1024px) {
			.insta-gallery.section-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b .insta-gallery-section.overlay .insta-gallery-wrapper {
				height: 290px;
			}
		}
		@media screen and(max-width: 767px) {
			.insta-gallery.section-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b .insta-gallery-section.overlay .insta-gallery-wrapper {
				height: 200px;
			}
		}
	</style>
	<div class="color-background-1 isolate gradient">
		<div class="collection  page-width   deal-banner-product-tab section-template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5-padding">
			<div class="row">
				<div class="grouped-content">

					<div class="deal-banner deal--template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5">
						<div class="deal-banner-wrapper">

							<h2 class="deal-banner__heading">
								Offre spéciale
							</h2>


							<div class="deal-banner__text">
								Praesent tristique magna sit amet purus gravida quis blandit.
							</div>
							<div class="shop-now">
								<a href="/collections" class="button button--primary">En profiter</a>
							</div>


							<div class="deals-counter">
								<div class="deal-clock lof-clock-timer-detail4"></div>

								<div class="product-deal-count" data-end-time="28 Mar 2026">
									<div class="notice"></div>
									<div class="deal-clock">
										<ul>
											<li class="days"></li>
											<li class="hours"></li>
											<li class="minutes"></li>
											<li class="seconds"></li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="grouped-content-wrapper">
						<div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin content-align--left">
							<h2 class="title h2">
								Suivez nos dernière collections
							</h2>
							<p class="description">
								Justo eget magna fermentum iaculis.</p>
							<a href="/collections" class="button button--primary">Shop Now</a>
						</div>
						<slider-component class="slider-mobile-gutter insta-gallery">
							<div id="" class="product-grid contains-card  grid grid--3-col-desktop grid--1-col-tablet-down insta-gallery-section overlay" role="list" aria-label="Slider">
								{% for i in 1..9 %}
								<div id="Slide-template--18316779094248__5baaa214-dc36-48c8-b807-dd5124b345c5-1" class=" grid__item card_style-card_with_icons">

									<div id="Slide-template--18316779159784__304c2b7c-72b2-4f91-912c-d6452e0bca0b-1" class="insta-gallery-wrapper swiper-slide">
										<div class="insta-gallery-block-image">
											<a href="https://www.instagram.com/">
												{# <img class="insta-gallery-image" srcset="//toytime-theme.myshopify.com/cdn/shop/files/Rectangle_5.png?v=1707972289&width=375 375w,//toytime-theme.myshopify.com/cdn/shop/files/Rectangle_5.png?v=1707972289&width=550 550w,//toytime-theme.myshopify.com/cdn/shop/files/Rectangle_5.png?v=1707972289&width=1500 711w" sizes="100vw" src="//toytime-theme.myshopify.com/cdn/shop/files/Rectangle_5.png?v=1707972289&width=1500" loading="lazy" alt="" width="711" height="729"> #}
												{% if i == 1 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/490510156_18043609856378745_3396215432094747123_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 2 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/491437145_18043579778378745_1737945685615177353_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 3 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/491444026_18043498403378745_3858496682877992677_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 4 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/484971879_1053768223442455_5742999164596555758_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 5 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/479882787_1052308586921752_4311792561647963483_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 6 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/482068278_1046537274165550_8120112223593829636_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 7 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/481897668_1046424267510184_7843057022988955015_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 8 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/482243564_1046416574177620_7360996662356336405_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% elseif i == 9 %}<img class="insta-gallery-image" src="{{asset('assets/media/articles/482000622_1045839340902010_414805746124497862_n.jpg')}}" loading="lazy" alt="" width="711" height="729">
												{% else %}<img class="insta-gallery-image" src="//toytime-theme.myshopify.com/cdn/shop/files/Rectangle_5.png?v=1707972289&width=1500" loading="lazy" alt="" width="711" height="729">{% endif %}
											</a>
										</div>
										<a class="icon-svg color-background-1 gradient" href="https://www.instagram.com/">

											<div class="insta-gallery-content ">
												<div class="insta-gallery-inner banner--content-align-center ">

													<div class="insta-icon">
														<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewbox="0 0 18 18">
															<path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z"/>
															<path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z">
														</svg>
													</div>
												</div>
											</div>
										</a>
									</div>

								</div>
								{% endfor %}
							</div>

						</slider-component>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
